fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
asyncpg
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
requests
openai
langchain
langchain-core
langgraph
colormath
httpx
python-multipart
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

cloudinary
